.s2bs5-clipboard {
    position: relative;
    display: none;
    float: right;

    + .highlight {
        margin-top: 0;
    }

    @include media-breakpoint-up(md) {
        display: block;
    }
}
